@{
    ViewData["Title"] = "CoursesPage";
}
<h1>Courses</h1>
<style>
table, th, td {
  border:1px solid black;

}
table {
  table-layout: fixed ;
  width: 100% ;
}
td {
  width: 25% ;
}
p {
  font-size: 150%;
    }
 
}
 
</style>
<table>
<tr>
<th>CourseID</th>
<th>CourseName</th>
<th>CourseTeacher</th>
<th>CourseDay</th>
</tr>
<tr>
<td>1</td>
<td>intro to algreba</td>
<td>Max Colins </td>
<td>Monday and wednesday and friday </td>
</tr>
<tr>
<td>2</td>
<td>into to biology and chemistry</td>
<td>vanessa june</td>
<td>tuesday and thursday</td>
 
  </tr>
</table>
<h1>Table Description</h1>
<p>
    The table shows the course ID # with the description/name of the course. This is so the courses can be found in multiple ways.
    
</p>
<p>It also includes the professor name, and the days that the class is taken. This kind of info can be very useful for students who work
    while in school.</p>
