@{
    ViewData["Title"] = "Food Page";
}
<style>
   

    p {
  font-size: 100%;
    }

}
ol {
    display: list-item;
    padding: 30px;
}
.mess{
    color: green;
}
h1,h2,h3,h4,h5{
    size: 150%;
}
</style>

<div class="about-section" >
    <h1 style="font-weight:bold" style="text-align:center";style="vertical-align:middle">Welcome to Our Food Center!</h1>
    <img src="https://www.eatthis.com/wp-content/uploads/sites/4/2020/12/unhealthiest-foods-planet.jpg?quality=82&strip=1" alt="FOOD" style="height:400px" style="width:"100%">
    
</div>


    <h1 class="mess">Creator Message </h1>
    <p class="mess"> Go Vegan! </p>


  <h1> Information </h1>
    <p style="text-align:center";style="vertical-align:middle" >
        Foods are an important because it feeds people and allow them to have enough energy to get through their day and 
        if they people starved then they would die. There are many types of food. there are foods that are healthy, foods that are delicious and 
        creamy, foods that are sour or hot.
        There are many organizations that control what can be put in foods so that people can't get sick due to them. Foods are one of things that 
        people have in common because food are essential to any beings livelyhood. There many types of people who interact food differently people who are fat due
        to eating too much food or for some other reason which does undermine them in any way of course regardless of size everyone is special in their own way.
        There are many foods now that are cutting from deliciousness to diet so that people can stay healthy.
        sick.
    </p>

    
    <div class="container">

    <h2>Our Favorite Foods</h2>

        <p>Keshawn: Pizza</p>
        <p>Jakob: Ramen</p>
        <p>Annamalai: Pancakes </p>

    </div>
    <body>
    <div>
    <h1>Top Rated Foods</h1>
        
            <p>1.Sushi</p>
            <p>2.Ramen</p>
            <p>3.Pho</p>
            <p>4.Pizza</p>
            <p>5.Chicken</p>
           
         
        
    </div>
    </body>
    

