@{
    ViewData["Title"] = "Food Page";
}

<div class="food-center">
    <img src="https://gamertweak.com/wp-content/uploads/2021/12/What-Is-the-1-Game-in-the-World.jpg" alt="GAMES" style="width:100%">
    <h1 class="display-4">Welcome to Our Food Center!</h1>

    <h5>Creator Message </h3>
    <p>Go Vegan! </p>

    <h4>Top Rated Foods</h4>
        <ol>
             <li>Sushi</li>
             <li>Ramen</li>
             <li>Pho</li>
             <li>Pizza</li>
             <li>Chicken</li>
        </ol>
    

    <div>

    <h2>Our Favorite Foods</h2>

        <p>Keshawn:</p>
        <p>Jakob:</p>
        <p>Annamalai:</p>

    </div>

    
</div>
