@{
    ViewData["Title"] = "Food Page";
}
<style>
    html {
  font-size: 14px;
    }

}
</style>

<div class="about-section" >
    <img src="https://www.eatthis.com/wp-content/uploads/sites/4/2020/12/unhealthiest-foods-planet.jpg?quality=82&strip=1" alt="FOOD" style="width:100%" style="height:30px">
    <h1 style="font-weight:bold" style="text-align:center";style="vertical-align:middle">Welcome to Our Food Center!</h1>
</div>


    <h5 style="font-size:8px" >Creator Message </h3>
    <p  style="font-size:8px"> Go Vegan! </p>

    <p style="text-align:center";style="vertical-align:middle" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit illo quibusdam numquam officia blanditiis velit accusantium aut? Ad, vero?
         Delectus corrupti fugit suscipit, consectetur illum soluta dolore praesentium doloremque iusto? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui molestiae saepe enim vero, quasi repellat est voluptatum modi fuga ipsam quod, quia in, suscipit exercitationem dolores asperiores. 
         Corporis, Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis, autem neque! Quibusdam quam fuga eaque provident eligendi similique pariatur culpa temporibus cumque dicta? Ratione sunt quisquam porro hic non sit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptatem, 
         repudiandae asperiores, dolore incidunt tenetur nulla dolores veritatis ab provident debitis eum minima. Placeat quasi beatae rem, sed deserunt exercitationem! Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero nihil eius vitae molestiae velit explicabo maxime voluptatem iste iusto consectetur nulla distinctio quia tenetur in exercitationem facere, magnam sint illum! Lorem ipsum dolor sit amet 
         consectetur adipisicing elit. Distinctio alias id ratione sequi deleniti veniam inventore harum, vel omnis debitis quasi, maxime dolor consectetur, asperiores provident quidem maiores repellendus esse?
    </p>

    <div class="container" ></div>
    <h4 style="text-align:center";style="vertical-align:middle">Top Rated Foods</h4>
        <ol>
             <li>Sushi</li>
             <li>Ramen</li>
             <li>Pho</li>
             <li>Pizza</li>
             <li>Chicken</li>
        </ol>
    </div>

    <div class="container">

    <h2 style="text-align:center";style="vertical-align:middle" >Our Favorite Foods</h2>

        <p>Keshawn: Pizza</p>
        <p>Jakob: Ramen</p>
        <p>Annamalai: Pancakes </p>

    </div>

    
</div>
