@{
    ViewData["Title"] = "Food Page";
}

<div class="about-section" >
    <img src="https://www.eatthis.com/wp-content/uploads/sites/4/2020/12/unhealthiest-foods-planet.jpg?quality=82&strip=1" alt="FOOD" style="width:100%" style="height:50px">
    <h1 style="text-align:center";style="vertical-align:middle" >Welcome to Our Food Center!</h1>
</div>


    <h5>Creator Message </h3>
    <p>Go Vegan! </p>

    <div class="container" ></div>
    <h4 style="text-align:center";style="vertical-align:middle">Top Rated Foods</h4>
        <ol style="text-align:center";style="vertical-align:middle">
             <li>Sushi</li>
             <li>Ramen</li>
             <li>Pho</li>
             <li>Pizza</li>
             <li>Chicken</li>
        </ol>
    </div>

    <div class="container">

    <h2 style="text-align:center";style="vertical-align:middle" >Our Favorite Foods</h2>

        <p>Keshawn: Pizza</p>
        <p>Jakob: Ramen</p>
        <p>Annamalai: Pancakes </p>

    </div>

    
</div>
