@{
    ViewData["Title"] = "Game Page";
}

<div class="game-center" style="text-align:center";style="vertical-align:middle">
    <img src="https://gamertweak.com/wp-content/uploads/2021/12/What-Is-the-1-Game-in-the-World.jpg" alt="GAMES" style="width:100%" style="height:50px">
    <h1 class="display-4" style="text-align:center";style="vertical-align:middle" >Welcome to Game Center!</h1>
</div>

    <div>
    <h3 style="text-align:center";style="vertical-align:middle">News</h3>
    <p style="text-align:center";style="vertical-align:middle">The top #1 most played popular game in the world right now is Minecraft. Released back on 18 November 2011, Mojang Studios was able to sell above 238 million copies of the game across all platforms, with around 600 registered players.
         Minecraft has a good track record with constant updates and version releases.</p>
    
    <h4 style="text-align:center";style="vertical-align:middle">Most Played</h4>
        <ol style="text-align:center";style="vertical-align:middle">
            <li>Minescraft</li>
            <li>Grand Theft Auto V</li>
             <li>EA Tetris</li>
             <li>Wii Sports</li>
             <li>PUBG:Battlegrounds</li>
        </ol>
    </div>

    <div style="text-align:center";style="vertical-align:middle">

    <h2>Our Favorite Games</h2>

        <p>Keshawn: Spider Man</p>
        <p>Jakob: Elden Ring</p>
        <p>Annamalai: Pac-man</p>

    </div>

    
</div>
