@{
    ViewData["Title"] = "Game Page";
}

<style>
    html {
  font-size: 14px;
    }
    
}
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
</style>

<div class="game-center" style="text-align:center";style="vertical-align:middle">
    <img src="https://gamertweak.com/wp-content/uploads/2021/12/What-Is-the-1-Game-in-the-World.jpg" alt="GAMES" style="height:200px" style="width:"100%">
    <h1 style="font-weight:bold" style="text-align:center";style="vertical-align:middle" >Welcome to Game Center!</h1>
</div>

    <div>
    <h3 style="text-align:center";style="vertical-align:middle">News</h3>
    <p style="text-align:center";style="vertical-align:middle">The top #1 most played popular game in the world right now is Minecraft. Released back on 18 November 2011, Mojang Studios was able to sell above 238 million copies of the game across all platforms, with around 600 registered players.
         Minecraft has a good track record with constant updates and version releases.</p>
    <h3>Continued</h3>
    <p style="text-align:center";style="vertical-align:middle" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit illo quibusdam numquam officia blanditiis velit accusantium aut? Ad, vero?
         Delectus corrupti fugit suscipit, consectetur illum soluta dolore praesentium doloremque iusto? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui molestiae saepe enim vero, quasi repellat est voluptatum modi fuga ipsam quod, quia in, suscipit exercitationem dolores asperiores. 
         Corporis, Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis, autem neque! Quibusdam quam fuga eaque provident eligendi similique pariatur culpa temporibus cumque dicta? Ratione sunt quisquam porro hic non sit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptatem, 
         repudiandae asperiores, dolore incidunt tenetur nulla dolores veritatis ab provident debitis eum minima. Placeat quasi beatae rem, sed deserunt exercitationem! Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero nihil eius vitae molestiae velit explicabo maxime voluptatem iste iusto consectetur nulla distinctio quia tenetur in exercitationem facere, magnam sint illum! Lorem ipsum dolor sit amet 
         consectetur adipisicing elit. Distinctio alias id ratione sequi deleniti veniam inventore harum, vel omnis debitis quasi, maxime dolor consectetur, asperiores provident quidem maiores repellendus esse?
    </p>
    </div>
    
    <div>
    <h4 >Most Played</h4>
        <ol >
            <li>Minescraft</li>
            <li>Grand Theft Auto V</li>
             <li>EA Tetris</li>
             <li>Wii Sports</li>
             <li>PUBG:Battlegrounds</li>
        </ol>
    </div>

    <div style="text-align:center";style="vertical-align:middle">

    <h2>Our Favorite Games</h2>

        <p>Keshawn: Spider Man</p>
        <p>Jakob: Elden Ring</p>
        <p>Annamalai: Pac-man</p>

    </div>

    
</div>
