@{
    ViewData["Title"] = "Game Page";
}

 <style>
        * {
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
}
p {
    font-size: 150%;
    
}

h1 {
    text-align: center;
}
</style>
<div class="game-center" style="text-align:center";style="vertical-align:middle">
     <h1 style="font-weight:bold" style="text-align:center";style="vertical-align:middle" >Welcome to Game Center!</h1>
    <img src="https://gamertweak.com/wp-content/uploads/2021/12/What-Is-the-1-Game-in-the-World.jpg" alt="GAMES" style="height:400px" style="width:"100%">
   
</div>

    <div>
    <h3 style="text-align:center";style="vertical-align:middle">News</h3>
    <p style="text-align:center";style="vertical-align:middle">The top #1 most played popular game in the world right now is Minecraft. Released back on 18 November 2011, Mojang Studios was able to sell above 238 million copies of the game across all platforms, with around 600 registered players.
         Minecraft has a good track record with constant updates and version releases.</p>
    <h3>Why do game exist</h3>
    <p style="text-align:center";style="vertical-align:middle" >
        Games are important for development for kids and adults. There are many types of game from action to adventure to horror and many more. Games gives 
        kids particular experiences that lets them grow and also teaches them things too. It allows them to find solutions to problems and build skills and confidences
        and also allow them to make connections with the gaming community. It is important to adults because it is a way to release stress and take a break
        and also it encourages teamwork and teaches critcal thinking. new games are released every year and past games are still talked about today like red dead 
        redemption. It grows kids imagination and cogitive and emotional thinking.
    
    </p>
    </div>
    
    <div>
    <h4 >Most Played</h4>
       
            <p>1.Minescraft</p>
            <p>2.Grand Theft Auto V</p>
             <p>3.EA Tetris</p>
             <p>4.Wii Sports</p>
             <p>5.PUBG:Battlegrounds</p>
        
    </div>

    <div style="text-align:center";style="vertical-align:middle">

    <h2>Our Favorite Games</h2>

        <p>Keshawn: Spider Man</p>
        <p>Jakob: Elden Ring</p>
        <p>Annamalai: Pac-man</p>

    </div>

    
</div>
