@{
    ViewData["Title"] = "Index";
}

<div class="about-section">
  <h1>About Us Page</h1>
</div>

<h2 style="text-align:center">Our Web developement Final Project Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Annamalai Subramanian</h2>
        <p class="title">IT Member</p>
        <p>Is kind and is a team player</p>
        <p>subrama2@mail.uc.edu</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Jacob Brown</h2>
        <p class="title">IT Member</p>
        <p>Is very enthiustic and communicative</p>
        <p>brown5jb@mail.uc.edu</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Thomas Keshawn</h2>
        <p class="title">IT member</p>
        <p>Is quiet but work orientated</p>
        <p>thoma4kw@mail.uc.edu</p>
      </div>
    </div>
  </div>
</div>
