@{
    ViewData["Title"] = "Index";
}

<div class="about-section">
  <h1 style="text-align:center";style="vertical-align:middle">Web developement Final Project Team</h1>
</div>
<html>
    <head>
        <link href="C:\Users\annam\OneDrive - University of Cincinnati\Desktop\FinalWebDevProject\wwwroot\css\PageStyle.css" rel="stylesheet">
    </head>

    <body class="class-for-index">
    </body>
</html>v
<div style="text-align:center" class="row">
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Annamalai Subramanian</h2>
        <p class="title">IT Member</p>
        <p>Is kind and is a team player</p>
        <p>subrama2@mail.uc.edu</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Jacob Brown</h2>
        <p class="title">IT Member</p>
        <p>Is very enthiustic and communicative</p>
        <p>brown5jb@mail.uc.edu</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Thomas Keshawn</h2>
        <p class="title">IT member</p>
        <p>Is quiet but work orientated</p>
        <p>thoma4kw@mail.uc.edu</p>
      </div>
    </div>
  </div>
</div>
