@{
    ViewData["Title"] = "Movie Page";
}

<div class="movie-center">
    <img src="https://storage.googleapis.com/afs-prod/media/e53811360eed4b8ba26b5f635d703a7c/2000.jpeg" alt="Movie" style="width:100%">
    <h1 class="display-4">Welcome to our Movie Center!</h1>

    <h3>New Movies</h3>
        <ol>
            <li>Thor: Love & Thunder</li>
            <li>Minions: Rise of Gru</li>
             <li>Wakanda Forever</li>
             <li>Super Pets</li>
             <li>Bullet Train</li>
        </ol>
    

    <div>

    <h2>Our Favorite Movie</h2>

        <p>Keshawn: Fast & Furious</p>
        <p>Jakob: Thor: Raganrok</p>
        <p>Annamalai: Avengers </p>

    </div>

    
</div>
