@{
    ViewData["Title"] = " SportsPage";
}
<html>
    <head>
        <link href="PageStyle.css" rel="stylesheet">
    </head>

    <body class="class-for-index">
    </body>
</html>

<div class="Sports-section">
  <h1 style="text-align:center";style="vertical-align:middle">Sports</h1>
  <div class="imgbox">
    <img class="center-fit"  src="https://img.freepik.com/free-vector/soccer-volleyball-baseball-rugby-equipment_1441-4026.jpg?w=2000" alt="Sports" />
</div>
</div>
<div class="SportsInfo-section">
  <h1>Known Sports </h1>
  <p> Sports that are played in the world include  Basketball, Air sports, Archery, Soccer, boardGames,baseball,cricket, swimming,dodgeball,climbing,cycling,wrestling, grappling,boxing, eightballs,taikwando.</p>
   <h1>Famous SportsMan </h1>
   <p>There are many sports players that earns millions with commercial earnings and some of them are tiger woods, Lionel Messi
       roger federer,Pele,Jackie chan, jackie robinson, michael jordan,babe ruth,Muhammad ali and there are many others. Playing sports requires strength and determination 
       and many hours of hardwork combined with fitness and nonphysical drills.</p>
   <h1>Sports organizations or teams </h1>
   <p>There are many sports organizations that host professional activities and there are many teams that play within these leagues. Some examples of organizations or teams are little league baseball, NFL, women's sports foundation, mls, Barcelona, Real Madrid, PSG, Lakers, 
       Cleveland browns, Fifa, Dallas Cowboys, USA Hockey, National Shooting Sports Foundation, World Rugby. </p>>
       <h1>Sports that we like </h1>
   <p>
      I like Soccer the most and my favorite player is Lionel Messi who plays for PSG and Argentina. 

      Brown Likes Hockey the most and his favorite player is Bobby Or who is a Canadian player. 

      Keshawn likes basketball the most and his favorite player is 
       LeBron James who is an American player who has played for los Angeles lakers. 
   </p>
</div>

<!--
<html>
<head>
    <style>
        
    </style>
</head>
<body>
</body>
</html>
-->
<html>
<head>
    <style>
        * {
    margin: 0;
    padding: 0;
    background-color: lightblue;
    padding-bottom: 30px;
}

.imgbox {
    display: grid;
    height: 80%;
}

.center-fit {
    max-width: 70%;
    max-height: 70vh;
    margin: auto;
}

p {
    font-size: 150%;
    
}

h1 {
    text-align: center;
}
    </style>
</head>
<body>
</body>
</html>
