@{
    ViewData["Title"] = " SportsPage";
}

<div class="Sports-section">
  <h1 style="text-align:center";style="vertical-align:middle">Sports</h1>
</div>
<div class="SportsDesc-section">
  <h1>Known Sports </h1>
  <p> Sports that are played in the world include  Basketball, Air sports, Archery, Soccer, boardGames,baseball,cricket,
      swimming,dodgeball,climbing,cycling,wrestling, grappling,boxing, eightballs and there is  many more</p>
   <h1>Famous SportsMan </h1>
   <p>There are many sports players that earns millions with commercial earnings and some of them are tiger woods, Lionel Messi
       roger federer,Pele,Jackie chan, jackie robinson, michael jordan,babe ruth,Muhammad ali and there are many others. Playing sports requires strength and determination 
       and many hours of hardwork combined with fitness and nonphysical drills</p>

</div>
